<table>
  {{#each prods}}
    <tr>
      <td>{{name}}</td>
      <td>{{cost}}</td>
      <td>{{rest}}</td>
      <td><a href="/prod/show/{{name}}">show</a></td>
      <td><a href="/prod/edit/{{name}}">edit</a></td>
      <td><a href="/prod/delete/{{name}}">delete</a></td>
    </tr>
  {{/each}}
</table>